altair==4.1.0
bertopic==0.9.4
community==1.0.0b1
geopy==2.2.0
ipython==8.2.0
liwc==0.5.0
matplotlib==3.3.3
moralizer==0.1.4
networkx==2.6.3
nltk==3.3
numpy==1.20.3
pandas==1.2.1
Pillow==9.0.1
pivottablejs==0.9.0
plotly==5.6.0
pydeck==0.5.0
python_louvain==0.16
redis==4.1.4
regex==2022.1.18
scikit_learn==1.0.2
setuptools==60.9.3
spacy==3.2.2
streamlit==1.8.0
transformers==4.16.2
tweepy==3.10.0
wordcloud==1.7.0
~lotly==5.5.0
~treamlit==1.7.0
